# Data
data
wavlm_*/
checkpoints/
*.pt
*.pkl
*.npy
*.npz
voicebanks/

# Docs
*.md
!README.md
!.github/pull_request_template.md

# Build artifacts
__pycache__/
*.pyc
*.egg-info/
.venv/

# Misc
.DS_Store
outputs/
export.py
mamba.py.save
